<footer class="md-footer">
    <!-- Footer -->
    <div class="md-footer-meta md-typeset">
      <div class="md-footer-meta__inner md-grid">
        <!-- Copyright and theme information -->
        <div class="md-copyright">
          <a href="/sitemap.xml" title="Site Map"> Site Map </a>
          |
          <a href="https://discord.gg/XkFPPEUDGy" title="Feedback Discord Channel">Feedback Discord </a>
          |
          <a href="https://wahapedia.ru/" title="Wahapedia">Wahapedia </a>
          |
          <a href="https://epicheresy.ru/" title="Epic Heresy">Epic Heresy </a>          
          |
          <a href="https://prancingponypub.ru/" title="Prancing Pony Pub">Prancing Pony Pub </a>
        </div>
      </div>
    </div>
  </footer>
  